#tabbar {
    background: $nav-background;
    .nav-list{
        display: flex;
        .nav-item {
            flex: 1;
            position: relative;
            color: $nav-color;
            font-size: $nav-fontsize;
            text-align: center;
            line-height: $nav-lineheight;
            height: $nav-lineheight;

            &.active {
                color:$nav-activecolor;
                &::after {   //!!!
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background: $nav-activecolor;
                }
            }
            }
            
    }
    
    
}