$header-height : 44px;
$header-background : rgb(49, 194, 124);
$logo-height:25px;
$logo-margin:0 0 0 10px;

$body-background:rgb(244, 244, 244);

$nav-color:rgba(0,0,0,.6);
$nav-background:rgb(255, 255, 255);
$nav-fontsize:16px;
$nav-lineheight:40px;
$nav-after:$header-background;
$nav-activecolor:$header-background;